html, body {
    font-family: "Roboto", "Noto Sans", "San Fransisco", "Segoe UI", "Noto Sans Hans", "Microsoft Yahei UI", "Helvetica Neue", Helvetica, sans-serif;
    font-size: 14px;
}
body {
    border-top: 6px solid #0075b0;
}

.btn-flat {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.container .navbar-header {
    margin: 0;
}
.navbar-brand {
    color: #000;
    height: 66px;
    line-height: 66px;
    padding: 0 15px;
    font-weight: normal;
}
.navbar li a {
    color: #000;
    padding: 15px 30px;
}
.navbar li a:hover {
    background-color: transparent;
}
.navbar-collapse {
    border-top: 1px solid #e7e7e7;
}
.navbar-toggle {
    float: left;
    padding: 16px 10px;
}
.icon-bar {
    background-color: #000;
}
@media (min-width: 768px) {
    .navbar-brand, .navbar li a {
        height: 120px;
        padding: 0 25px;
        line-height: 120px;
    }
    .navbar-collapse {
        border-top: 0;
    }
}

.description {
    text-align: center;
    margin-bottom: 30px;
}
.icon {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    border: 1px solid #0075b0;
    color: #0075b0;
    background-color: transparent;
    margin: 10px auto 30px;
    width: 144px;
    height: 144px;
    font-size: 72px;
    line-height: 140px;
    display: block;
    text-align: center;
    cursor: default;
    border-radius: 24px;
}
h1 {
    font-size: 26px;
    font-weight: 300;
    line-height: 1.4;
}
h4 {
    font-weight: 300;
    line-height: 1.6;
}
.index-action {
    margin-top: 20px;
}

.grid {
    padding-top: 24px;
    padding-bottom: 48px;
}
.icon-block {
    padding: 24px 12px;
    text-align: center;
}
h3 {
    font-weight: 300;
}
.icon-block .fa {
    font-size: 48px;
}
.icon-block p {
    font-size: 16px;
}

footer {
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
    padding: 36px;
    text-align: center;
}